
.carousel-caption p{
  font-size: 50px;
  color: aqua;
}

.contact-bg {
  background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
  min-height: 100vh;
}

.form-control::placeholder {
  color: #ccc;
}

.form-select option {
  background-color: #1a1a1a;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: all 0.3s ease;
}


.bg-one{
  display:inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  margin-left: 200px;
}

footer {
  background-color: #f8f9fa;
}

footer .card {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
  border-radius: 12px;
}

footer a.btn:hover {
  background-color: #0d6efd;
  color: #fff;
  transform: scale(1.05);
  transition: all 0.3s ease;
}


footer .card-header {
  background-color: #007bff;
  color: white;
}

footer .imp .btn {
  flex: 1 1 auto;
  min-width: 100px;
}


.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}


.card:hover {
  transform: scale(1.03);
}


.carousel-img {
  width: 100%;
  height: 60vh;           
  object-fit: cover;      
}
